
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #cc6828;margin-bottom: 4em">
  <div class="container">
    <a class="navbar-brand" href="#">Tribu Einyvrsgtheirgtvn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/galerie" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Galerie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/galerie/image1">Image 1</a></li>
            <li><a class="dropdown-item" href="/galerie/image2">Image 2</a></li>
            <li><a class="dropdown-item" href="/galerie/image3">Image 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="search" aria-label="Recherche">
        <button class="btn btn-outline-light" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>
